@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height: 100%;
}
@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/myFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.your-class-name {
  font-family: 'CustomFont', sans-serif;
  /* other styles */
}

.without-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}

.number-input {
  /* Remove arrows for number input */
  -moz-appearance: textfield;
  appearance: textfield;
}

/* For Firefox, override the number input's spinner */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


